body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: sans-serif;
    color: white;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
    padding-bottom: 1em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1em;
    color: gray;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 95%;
    padding-top: 0.5em;
    margin: 0 auto;
}

header,
footer {
    background-color: #003300;
    padding: 2em 0;
}

.hero {
    text-align: center;
    background: rgb(255, 0, 102, 0.2);
    min-height: 5em;
    padding: 1em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.hero:hover {
    background: url(cssimages/ezgif-4-e9af35e58b.gif);
    background-size: cover;
}

.pull {
    text-decoration: underline;
}



main {
    margin-bottom: 2em;
    background-image: url(cssimages/nature-1651550984807-8048.jpg);
    height: auto;
}

.container1 {
    position: relative;
    width: 50%;
    background-image: url(cssimages/Safari_Man.webp);
    background-size: cover;
    width: 500px;
    height: 500px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    background-color: #006400;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: .5s ease;
}

.container1:hover .overlay {
    width: 50%;
}

.desc1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

}

.main-content img {
    width: 50%;
}

@media (max-width:550px) {
    .main-content img {
        width: 100%;
    }

    .hero {
        font-size: 1em;
    }

}
